/* 项目提供scss全局变量 */

//左侧菜单的宽度
$base-menu-width: 260px;
$base-menu-min-width: 50px; //折叠后的宽度

//左侧菜单的背景颜色
$base-menu-background: #001529;

//顶部tabbar的高度
$base-tabbar-height: 50px;

//logo的高度
$base-logo-height: 50px;

//logo标题的字体大小
$base-logo-title-font-size: 19px;